/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.menu-btn {
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1100;
}

.dropdown {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}

section {
    display: flex;
    margin-top: 70px;
    padding: 20px;
}

.overview {
    margin-right: 20px;
    flex: 1;
}


footer {
    background-color: transparent;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.social-icons {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.social-icons a {
    margin: 0 10px;
    display: block; /* Ensures proper spacing and alignment */
}

.social-icons img {
    width: 40px; /* Adjust the size as needed */
    height: 40px; /* Adjust the size as needed */
}

.share-option button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.share-option button:hover {
    background-color: #0056b3;
}

/* styles.css */

/* Existing code above */

header {
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    align-items: center;
}

.logo {
    width: 200px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px;
}

.menu-btn {
    font-size: 18px;
    cursor: pointer;
}

.content-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.text-section {
    width: 45%;
    max-height: 80vh;
    overflow-y: auto;
    text-align: left;
}

.text-section h2 {
    font-size: 40px;
    text-align: center;
}

.yellow-box {
    background-color: #f8b54e;
    padding: 20px;
    width: 35%;
    border-radius: 10px;
    text-align: justify;
}

.yellow-box p{
    font-size: 14px;
}

.learn-more-button {
    display: inline-block;
    background-color: #f8b54e;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.content-section-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.image-section {
    width: 45%;
}

.image-section img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.text-section-about {
    width: 45%;
    text-align: center;
}

.text-section-about h2 {
    font-size: 24px; /* Adjust as needed */
}

.text-section-about h1 {
    font-size: 32px; /* Adjust as needed */
}


.text-section-about p {
    font-size: 16px; /* Adjust as needed */
}

.content-section-learn {
    display: flex;
    justify-content: space-around; /* Adjust as needed */
    align-items: center;
    margin: 20px;
}

.text-box-learn {
    background-color: #f8b54e;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    text-align: justify;
}

.image-section-learn {
    width: 30%;
}

.image-section-learn img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.videos-section-learn {
    width: 30%;
}

.videos-section-learn iframe {
    width: 100%;
    height: 40vh; /* Adjust as needed */
}

.learn-more-button {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}

.content-section-act {
    display: flex;
    margin: 20px;
}

.video-section-act {
    width: 50%;
}

.video-section-act video {
    width: 100%;
    height: auto; /* Adjust as needed */
}

.text-section-act {
    width: 65%;
    text-align: right;
}

.text-section-act p {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

.text-section-act h2 {
    font-size: 34px;
    text-align: center;
    margin-top: 20px;
}

.buttons-section-act {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.circle-button {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
    text-decoration: none;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 10px;
}

.circle-button:hover {
    background-color: #555;
}

.container-contact {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.form-container-contact {
    width: 45%;
}

.steps-container-contact {
    display: flex;
    flex-direction: column;
}

.step-contact {
    margin-bottom: 20px;
}

form {
    margin-top: 10px;
}

input {
    margin-bottom: 10px;
    padding: 5px;
}

.template-container-contact {
    width: 45%;
}

.template-box-contact {
    background-color: #f8b54e;
    padding: 5px;
    margin-bottom: 8px;
    overflow: auto;
    max-height: 500px;
    white-space: pre-wrap;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}


.container-story {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.box-story {
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
    text-align: center;
}

body-story {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Minimum height of the viewport */
}

.container-res {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.box-res {
    width: 45%;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
    border: 2px solid #000;
    background-color: #f8b54e;
    color: #000;
    text-align: center;
}

.popup-res {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.popup-content-res {
    background-color: #f8b54e;
    padding: 20px;
    border: 2px solid #000;
    max-width: 80%;
    text-align: center;
}

.close-btn-res {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
}

.container-interactive {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.round {
    margin-bottom: 20px;
    border: 2px solid black;
    padding: 10px;
}

.round h2 {
    text-align: center;
}

.round ul {
    list-style-type: none;
    padding: 0;
}

.round ul li {
    border: 1px solid black;
    background-color: white;
    padding: 10px;
    margin: 5px 0;
}

.final-outcome {
    margin-top: 20px;
    border: 2px solid black;
    padding: 10px;
}